@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  background: var(--bg);
}

:root {
  --bg: #392c21;
  --white: rgb(230, 226, 226);
  --light-blue: #62a4ab;
  --dark-blue: #0f3c80;
  --light-yellow: #ffd050;
  --dark-yellow: #f9bf1e;
  --brown: #7c3e1d;
  --light-green: #7cf448;
}
